# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/
.virtualenv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# jupyter notebooks
.ipynb_checkpoints

# pyenv
.python-version

# Celery
celerybeat-schedule
*.celerybeat.pid

# SageMath
*.sage.py

# Environments
.env
.env.*
.spyproject
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
*.tmp
README.rst
.DS_Store
